a.btn-nova-conta {
    margin-left: 10px;
}

div.form-login {
    padding-top: 100px;
}

div.form-edit-info {
    padding-top: 50px;
}

a.btn-deleta-conta{
    margin-left: 10px;
}

div.canvas {
    padding: 50px 20px;
}

hr.spance-chart {
    margin: 40px 0;
}

footer {
    padding: 50px 0;
}